/*CIRCULAR MENU
----------------------------------------*/
.circular-menu {
	width: 90%;
	height: 400px;
	margin: 50px auto 0;
	position: relative;
}

#circular-buttons > div {
	width: 100px;
	height: 100px;
	line-height: 100px;
	position: absolute;
}

#eye-button {
	position: absolute;
	top: 240px;
	left: calc(50% - 75px);
	background-color: #E3C91E;
	width: 150px;
	height: 150px;	
	line-height: 150px;
}
.circular-btn {
	border-radius: 50%;
	box-shadow: 10px 10px 25px rgba(0, 0, 0, .8);
}
/* Button original positions and color */

#cosmo-btn {
	background-color: #166187;
	top: 180px;
	left: 8%;
}
#evo-btn {
	background-color: #E3C91E;
	top: 80px;
	left: 25%;
}
#bio-btn {
	background-color: #C91E90;
	top: 50px;
	left: calc(50% - 50px);
}
#robo-btn {
	background-color: #A19892;
	top: 80px;
	right: 25%;
}
#eco-btn {
	background-color: #678515;
	top: 180px;
	right: 8%;
}
#circular-buttons .circular-btn div {
	background-size: 50%;
	width: 100px;
	height: 100px;
}
/* Button icons */
#eye-button div {
	background: url("../images/icons/icon_eye.png") center no-repeat;
	background-size: 65%;
	width: 150px;
	height: 150px;
}
#cosmo-btn div {
	background: url("../images/icons/icon_cosmology.png") center no-repeat;
}
#evo-btn div {
	background: url("../images/icons/icon_evolution.png") center no-repeat;
}
#bio-btn div {
	background: url("../images/icons/icon_biology.png") center no-repeat;
}
#robo-btn div {
	background: url("../images/icons/icon_robotics.png") center no-repeat;
	position: relative;
	top: -5px;
}
#eco-btn div {
	background: url("../images/icons/icon_ecology.png") center no-repeat;
}

/*Buttons in closed state*/

#circular-buttons {
	width: 100%;
	opacity: 0.5;
} 

#circular-buttons #cosmo-btn {
	-webkit-transform: translate(350%, 70%);
	-moz-transform: translate(350%, 70%);
  	-transform: translate(350%, 70%);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(190%, 150%);
	-moz-transform: translate(190%, 150%);
  	-transform: translate(190%, 150%);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
#circular-buttons #bio-btn {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
  	-transform: translateX(0);

	-webkit-transform: translateY(170%);
	-moz-transform: translateY(170%);
  	-transform: translateY(170%);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
#circular-buttons #robo-btn {
	-webkit-transform: translate(-190%, 150%);
	-moz-transform: translate(-190%, 150%);
  	-transform: translate(-190%, 150%);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-350%, 70%);
	-moz-transform: translate(-350%, 70%);
  	-transform: translate(-350%, 70%);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}

/*Buttons in open state*/

.open#circular-buttons {
	opacity: 1;	
}

.open#circular-buttons #cosmo-btn {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
  	-transform: translateX(0);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
.open#circular-buttons #evo-btn {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
  	-transform: translateX(0);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
.open#circular-buttons #bio-btn {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
  	-transform: translateX(0);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
.open#circular-buttons #robo-btn {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
  	-transform: translateX(0);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
.open#circular-buttons #eco-btn {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
  	-transform: translateX(0);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}