/*CIRCULAR MENU
----------------------------------------*/
.circular-menu {
	width: 90%;
	height: 400px;
	margin: 50px auto 0;
	position: relative;
}

#circular-buttons > div {
	width: 100px;
	height: 100px;
	line-height: 100px;
	position: absolute;
}

#eye-button {
	position: absolute;
	top: 240px;
	left: calc(50% - 75px);
	background-color: #E3C91E;
	width: 150px;
	height: 150px;	
	line-height: 150px;
}
.circular-btn {
	border-radius: 50%;
	box-shadow: 10px 10px 25px rgba(0, 0, 0, .8);
}
/* Button original positions and color */

#cosmo-btn {
	background-color: #166187;
	top: 180px;
	left: 8%;
}
#evo-btn {
	background-color: #E3C91E;
	top: 80px;
	left: 25%;
	z-index: 0;
}
#bio-btn {
	background-color: #C91E90;
	top: 50px;
	left: calc(50% - 50px);
}
#robo-btn {
	background-color: #A19892;
	top: 80px;
	right: 25%;
}
#eco-btn {
	background-color: #678515;
	top: 180px;
	right: 8%;
}
#circular-buttons .circular-btn div {
	background-size: 50%;
	width: 100px;
	height: 100px;
}
/* Button icons */
#eye-button div {
	background: url("../images/icons/icon_eye.png") center no-repeat;
	background-size: 65%;
	width: 150px;
	height: 150px;
}
#cosmo-btn div {
	background: url("../images/icons/icon_cosmology.png") center no-repeat;
}
#evo-btn div {
	background: url("../images/icons/icon_evolution.png") center no-repeat;
}
#bio-btn div {
	background: url("../images/icons/icon_biology.png") center no-repeat;
}
#robo-btn div {
	background: url("../images/icons/icon_robotics.png") center no-repeat;
	position: relative;
	top: -5px;
}
#eco-btn div {
	background: url("../images/icons/icon_ecology.png") center no-repeat;
}

/* Button hover states */
#eye-button {
	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
#eye-button:hover {
	background-color: #166187;
	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
#circular-buttons .circular-btn:hover {
	background-color: #000;
}
#circular-buttons #evo-btn:hover {
	background-color: #3D3A38;
}
/* This action sets the circular buttons to visible */
#circular-buttons:target {
	visibility: visible;
}
#circular-buttons .circular-btn:active,
#eye-button:active {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
}

#eye-button:active {
	background-color: #3D3A38;
}

/*Buttons in closed state*/

#circular-buttons {
	width: 100%;
	opacity: .6;

	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
} 

#circular-buttons #cosmo-btn {
	-webkit-transform: translate(350%, 70%);
	-moz-transform: translate(350%, 70%);
  	-transform: translate(350%, 70%);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(190%, 150%);
	-moz-transform: translate(190%, 150%);
  	-transform: translate(190%, 150%);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
#circular-buttons #bio-btn {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
  	-transform: translateX(0);

	-webkit-transform: translateY(170%);
	-moz-transform: translateY(170%);
  	-transform: translateY(170%);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
#circular-buttons #robo-btn {
	-webkit-transform: translate(-190%, 150%);
	-moz-transform: translate(-190%, 150%);
  	-transform: translate(-190%, 150%);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-350%, 70%);
	-moz-transform: translate(-350%, 70%);
  	-transform: translate(-350%, 70%);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}

/*Buttons in open state*/

.open#circular-buttons {
	opacity: 1;

	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}

.open#circular-buttons #cosmo-btn {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
  	-transform: translateX(0);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
.open#circular-buttons #evo-btn {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
  	-transform: translateX(0);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
.open#circular-buttons #bio-btn {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
  	-transform: translateX(0);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
.open#circular-buttons #robo-btn {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
  	-transform: translateX(0);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}
.open#circular-buttons #eco-btn {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
  	-transform: translateX(0);

  	-webkit-transition: all 0.4s ease-out;
  	-moz-transition: all 0.4s ease-out;
  	transition: all 0.4s ease-out;
}

@media screen and (min-width: 1100px) and (max-width: 1150px) {
#circular-buttons #cosmo-btn {
	-webkit-transform: translate(330%, 70%);
	-moz-transform: translate(330%, 70%);
  	-transform: translate(330%, 70%);
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(170%, 150%);
	-moz-transform: translate(170%, 150%);
  	-transform: translate(170%, 150%);
}

#circular-buttons #robo-btn {
	-webkit-transform: translate(-170%, 150%);
	-moz-transform: translate(-170%, 150%);
  	-transform: translate(-170%, 150%);
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-330%, 70%);
	-moz-transform: translate(-330%, 70%);
  	-transform: translate(-330%, 70%);
}

}
@media screen and (min-width: 1050px) and (max-width: 1099px) {
#circular-buttons #cosmo-btn {
	-webkit-transform: translate(310%, 70%);
	-moz-transform: translate(310%, 70%);
  	-transform: translate(310%, 70%);
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(150%, 150%);
	-moz-transform: translate(150%, 150%);
  	-transform: translate(150%, 150%);
}

#circular-buttons #robo-btn {
	-webkit-transform: translate(-150%, 150%);
	-moz-transform: translate(-150%, 150%);
  	-transform: translate(-150%, 150%);
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-310%, 70%);
	-moz-transform: translate(-310%, 70%);
  	-transform: translate(-310%, 70%);
}

}
@media screen and (min-width: 1000px) and (max-width: 1049px) {
#circular-buttons #cosmo-btn {
	-webkit-transform: translate(280%, 70%);
	-moz-transform: translate(280%, 70%);
  	-transform: translate(280%, 70%);
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(130%, 150%);
	-moz-transform: translate(130%, 150%);
  	-transform: translate(130%, 150%);
}

#circular-buttons #robo-btn {
	-webkit-transform: translate(-130%, 150%);
	-moz-transform: translate(-130%, 150%);
  	-transform: translate(-130%, 150%);
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-280%, 70%);
	-moz-transform: translate(-280%, 70%);
  	-transform: translate(-280%, 70%);
}

}
@media screen and (min-width: 950px) and (max-width: 999px) {
#circular-buttons #cosmo-btn {
	-webkit-transform: translate(260%, 70%);
	-moz-transform: translate(260%, 70%);
  	-transform: translate(260%, 70%);
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(120%, 150%);
	-moz-transform: translate(120%, 150%);
  	-transform: translate(120%, 150%);
}

#circular-buttons #robo-btn {
	-webkit-transform: translate(-120%, 150%);
	-moz-transform: translate(-120%, 150%);
  	-transform: translate(-120%, 150%);
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-260%, 70%);
	-moz-transform: translate(-260%, 70%);
  	-transform: translate(-260%, 70%);
}

}
@media screen and (min-width: 900px) and (max-width: 949px) {
#circular-buttons #cosmo-btn {
	-webkit-transform: translate(240%, 70%);
	-moz-transform: translate(240%, 70%);
  	-transform: translate(240%, 70%);
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(110%, 150%);
	-moz-transform: translate(110%, 150%);
  	-transform: translate(110%, 150%);
}

#circular-buttons #robo-btn {
	-webkit-transform: translate(-110%, 150%);
	-moz-transform: translate(-110%, 150%);
  	-transform: translate(-110%, 150%);
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-240%, 70%);
	-moz-transform: translate(-240%, 70%);
  	-transform: translate(-240%, 70%);
}

}
@media screen and (min-width: 850px) and (max-width: 899px) {
#circular-buttons #cosmo-btn {
	-webkit-transform: translate(230%, 70%);
	-moz-transform: translate(230%, 70%);
  	-transform: translate(230%, 70%);
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(100%, 150%);
	-moz-transform: translate(100%, 150%);
  	-transform: translate(100%, 150%);
}

#circular-buttons #robo-btn {
	-webkit-transform: translate(-100%, 150%);
	-moz-transform: translate(-100%, 150%);
  	-transform: translate(-100%, 150%);
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-230%, 70%);
	-moz-transform: translate(-230%, 70%);
  	-transform: translate(-230%, 70%);
}
}
@media screen and (min-width: 800px) and (max-width: 849px) {
#circular-buttons #cosmo-btn {
	-webkit-transform: translate(210%, 70%);
	-moz-transform: translate(210%, 70%);
  	-transform: translate(210%, 70%);
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(100%, 150%);
	-moz-transform: translate(100%, 150%);
  	-transform: translate(100%, 150%);
}

#circular-buttons #robo-btn {
	-webkit-transform: translate(-100%, 150%);
	-moz-transform: translate(-100%, 150%);
  	-transform: translate(-100%, 150%);
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-210%, 70%);
	-moz-transform: translate(-210%, 70%);
  	-transform: translate(-210%, 70%);
}

}
@media screen and (min-width: 750px) and (max-width: 799px) {
#circular-buttons #cosmo-btn {
	-webkit-transform: translate(200%, 70%);
	-moz-transform: translate(200%, 70%);
  	-transform: translate(200%, 70%);
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(90%, 150%);
	-moz-transform: translate(90%, 150%);
  	-transform: translate(90%, 150%);
}

#circular-buttons #robo-btn {
	-webkit-transform: translate(-90%, 150%);
	-moz-transform: translate(-90%, 150%);
  	-transform: translate(-90%, 150%);
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-200%, 70%);
	-moz-transform: translate(-200%, 70%);
  	-transform: translate(-200%, 70%);
}

}
@media screen and (min-width: 700px) and (max-width: 749px) {
#circular-buttons #cosmo-btn {
	-webkit-transform: translate(180%, 70%);
	-moz-transform: translate(180%, 70%);
  	-transform: translate(180%, 70%);
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(70%, 150%);
	-moz-transform: translate(70%, 150%);
  	-transform: translate(70%, 150%);
}

#circular-buttons #robo-btn {
	-webkit-transform: translate(-70%, 150%);
	-moz-transform: translate(-70%, 150%);
  	-transform: translate(-70%, 150%);
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-180%, 70%);
	-moz-transform: translate(-180%, 70%);
  	-transform: translate(-180%, 70%);
}

}
@media screen and (min-width: 650px) and (max-width: 699px) {
#circular-buttons #cosmo-btn {
	-webkit-transform: translate(160%, 70%);
	-moz-transform: translate(160%, 70%);
  	-transform: translate(160%, 70%);
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(70%, 150%);
	-moz-transform: translate(70%, 150%);
  	-transform: translate(70%, 150%);
}

#circular-buttons #robo-btn {
	-webkit-transform: translate(-70%, 150%);
	-moz-transform: translate(-70%, 150%);
  	-transform: translate(-70%, 150%);
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-160%, 70%);
	-moz-transform: translate(-160%, 70%);
  	-transform: translate(-160%, 70%);
}
/*Open states*/
.open#circular-buttons #evo-btn {
	-webkit-transform: translateX(-10%);
	-moz-transform: translateX(-10%);
  	-transform: translateX(-10%);
}
.open#circular-buttons #robo-btn {
	-webkit-transform: translateX(10%);
	-moz-transform: translateX(10%);
  	-transform: translateX(10%);
}

}
@media screen and (min-width: 600px) and (max-width: 649px) {
#circular-buttons #cosmo-btn {
	-webkit-transform: translate(150%, 70%);
	-moz-transform: translate(150%, 70%);
  	-transform: translate(150%, 70%);
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(60%, 150%);
	-moz-transform: translate(60%, 150%);
  	-transform: translate(60%, 150%);
}

#circular-buttons #robo-btn {
	-webkit-transform: translate(-60%, 150%);
	-moz-transform: translate(-60%, 150%);
  	-transform: translate(-60%, 150%);
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-150%, 70%);
	-moz-transform: translate(-150%, 70%);
  	-transform: translate(-150%, 70%);
}
/*Open states*/
.open#circular-buttons #evo-btn {
	-webkit-transform: translateX(-30%);
	-moz-transform: translateX(-30%);
  	-transform: translateX(-30%);
}
.open#circular-buttons #robo-btn {
	-webkit-transform: translateX(30%);
	-moz-transform: translateX(30%);
  	-transform: translateX(30%);
}
}
@media screen and (min-width: 549px) and (max-width: 599px) {
#circular-buttons #cosmo-btn {
	-webkit-transform: translate(130%, 70%);
	-moz-transform: translate(130%, 70%);
  	-transform: translate(130%, 70%);
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(40%, 150%);
	-moz-transform: translate(40%, 150%);
  	-transform: translate(40%, 150%);
}

#circular-buttons #robo-btn {
	-webkit-transform: translate(-40%, 150%);
	-moz-transform: translate(-40%, 150%);
  	-transform: translate(-40%, 150%);
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-130%, 70%);
	-moz-transform: translate(-130%, 70%);
  	-transform: translate(-130%, 70%);
}
/*Open states*/
.open#circular-buttons #evo-btn {
	-webkit-transform: translateX(-30%);
	-moz-transform: translateX(-30%);
  	-transform: translateX(-30%);
}
.open#circular-buttons #robo-btn {
	-webkit-transform: translateX(30%);
	-moz-transform: translateX(30%);
  	-transform: translateX(30%);
}
}
@media screen and (min-width: 500px) and (max-width: 549px) {
#circular-buttons #cosmo-btn {
	-webkit-transform: translate(90%, 70%);
	-moz-transform: translate(90%, 70%);
  	-transform: translate(90%, 70%);
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(40%, 150%);
	-moz-transform: translate(40%, 150%);
  	-transform: translate(40%, 150%);
}

#circular-buttons #robo-btn {
	-webkit-transform: translate(-40%, 150%);
	-moz-transform: translate(-40%, 150%);
  	-transform: translate(-40%, 150%);
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-90%, 70%);
	-moz-transform: translate(-90%, 70%);
  	-transform: translate(-90%, 70%);
}
/*Open states*/
.open#circular-buttons #cosmo-btn {
	-webkit-transform: translateX(-20%);
	-moz-transform: translateX(-20%);
  	-transform: translateX(-20%);
}
.open#circular-buttons #evo-btn {
	-webkit-transform: translateX(-40%);
	-moz-transform: translateX(-40%);
  	-transform: translateX(-40%);
}
.open#circular-buttons #robo-btn {
	-webkit-transform: translateX(40%);
	-moz-transform: translateX(40%);
  	-transform: translateX(40%);
}
.open#circular-buttons #eco-btn {
	-webkit-transform: translateX(20%);
	-moz-transform: translateX(20%);
  	-transform: translateX(20%);
}

}



@media screen and (min-width: 400px) and (max-width: 499px) {
#circular-buttons #cosmo-btn {
	-webkit-transform: translate(60%, 70%);
	-moz-transform: translate(60%, 70%);
  	-transform: translate(60%, 70%);
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(20%, 150%);
	-moz-transform: translate(20%, 150%);
  	-transform: translate(20%, 150%);
}

#circular-buttons #robo-btn {
	-webkit-transform: translate(-20%, 150%);
	-moz-transform: translate(-20%, 150%);
  	-transform: translate(-20%, 150%);
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-60%, 70%);
	-moz-transform: translate(-60%, 70%);
  	-transform: translate(-60%, 70%);
}
/*Open states*/
.open#circular-buttons #cosmo-btn {
	-webkit-transform: translateX(-40%);
	-moz-transform: translateX(-40%);
  	-transform: translateX(-40%);
}
.open#circular-buttons #evo-btn {
	-webkit-transform: translateX(-60%);
	-moz-transform: translateX(-60%);
  	-transform: translateX(-60%);
}
.open#circular-buttons #robo-btn {
	-webkit-transform: translateX(60%);
	-moz-transform: translateX(60%);
  	-transform: translateX(60%);
}
.open#circular-buttons #eco-btn {
	-webkit-transform: translateX(40%);
	-moz-transform: translateX(40%);
  	-transform: translateX(40%);
}

}
@media screen and (min-width: 0px) and (max-width: 399px) {
#circular-buttons #cosmo-btn {
	-webkit-transform: translate(20%, 70%);
	-moz-transform: translate(20%, 70%);
  	-transform: translate(20%, 70%);
}
#circular-buttons #evo-btn {
	-webkit-transform: translate(-20%, 150%);
	-moz-transform: translate(-20%, 150%);
  	-transform: translate(-20%, 150%);
}

#circular-buttons #robo-btn {
	-webkit-transform: translate(20%, 150%);
	-moz-transform: translate(20%, 150%);
  	-transform: translate(20%, 150%);
}
#circular-buttons #eco-btn {
	-webkit-transform: translate(-20%, 70%);
	-moz-transform: translate(-20%, 70%);
  	-transform: translate(-20%, 70%);
}
/*Open states*/
.open#circular-buttons #cosmo-btn {
	-webkit-transform: translateX(-40%);
	-moz-transform: translateX(-40%);
  	-transform: translateX(-40%);
}
.open#circular-buttons #evo-btn {
	-webkit-transform: translateX(-65%);
	-moz-transform: translateX(-65%);
  	-transform: translateX(-65%);
}
.open#circular-buttons #robo-btn {
	-webkit-transform: translateX(65%);
	-moz-transform: translateX(65%);
  	-transform: translateX(65%);
}
.open#circular-buttons #eco-btn {
	-webkit-transform: translateX(40%);
	-moz-transform: translateX(40%);
  	-transform: translateX(40%);
}
}